@using CourseWorkWeb.DAL.Context
@using CourseWorkWeb.DAL.Repositories
@using CourseWorkWeb.Models.Entity.Medicines
@using Microsoft.AspNetCore.Mvc.Routing
@model IEnumerable<Medicine>

@{
    ViewData["Title"] = "Catalog";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" type="image/ico" href="~/image/icon.ico" />
    <link rel="stylesheet" type="text/css" href="~/css/cite1.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="Cmain">
    <div class="CHeader">
        <div class="CNT">
            <div class="Clogo">
                <img class="CimgLogo"  src="~/image/logo.png">
                <div class="CAptecaName">
                <p>Tabletki</p>
                <p>APT.UA</p>
            </div>
            </div>
            <form class="CSearchField">
                <button class="CCatalog">
                    <img src="~/image/lines.png">
                    <p>Catologe</p>
                    
                </button>
                <div class="CInputBorder">
                    <input type="text" placeholder="Searching...">
                    <button class="CSerch" ><img src="~/image/search.png"></button>
                </div>
            </form>
            <div class="CHelpField">
            <button class="CHelpFieldButton"> <img src="~/image/mag.png"></button>
            <button class="CHelpFieldButton"> <img src="~/image/person.png"></button>
            <button class="CHelpFieldButton"> <img src="~/image/phone.png"></button>
        </div>
        </div>
        <div class="CND">
        <button onclick="toCategory('Medicine')">
            <p>Medicine</p>
            <img src="image/pill.svg" alt="Medicine">
        </button>
        <button  onclick="toCategory('Vitamins')">
            <p>Vitamins</p>
            <img src="image/mpills.svg" alt="Vitamins">
        </button>
        <button onclick="toCategory('Hygiene')">
            <p>Hygiene</p>
            <img src="image/hygiene.svg" alt="Hygiene">
        </button>
        <button onclick="toCategory('Makeup')">
            <p>Makeup</p>
            <img src="image/makeup.svg" alt="Makeup">
        </button>
        <button onclick="toCategory('Children')">
            <p>For Children's</p>
            <img src="image/toy.svg" alt="For Children's">
        </button>
         <button onclick="toHome()">
            <p>Back</p>
            <img src="image/close.png" alt="Back">
        </button>
    </div>
    </div>


<div class="СContainer">
  <div class=Category>
    <form class="CatalogCategoryTitle" asp-controller="Category"  asp-action="Index" asp-route-word="Medicine" method="POST"  >
              <input type="hidden" name="word" value="Medicine">
              <button class="ButtonTitles" type="submit">
              <p>Medicine</p>
              <img src="image/pill.svg">
            </button>
   </form>
       <div class="CatalogMedicineList">

                @if (Model != null)
                {
                    @foreach (var item in Model.ToList())
                    {

                        <button class="CatalogCard" onclick="toProduct(@item.Id)">
                            <img src=@item.Photo alt="foto">
                            <div class="CatalogMedicineWords">
                                <p class="wp">@item.Name</p>
                                <p>@item.Description</p>
                                <p>@item.Cost грн</p>
                            </div>
                        </button>
                    }
                }
                else
                {
                    <p>No data available</p>
                }
    </div>     
</div>  
  <div class=Category>
    <form class="CatalogCategoryTitle" asp-controller="Category"  asp-action="Index" asp-route-word="Vitamins" method="POST"  >
              <input type="hidden" name="word" value="Vitamins">
              <button class="ButtonTitles" type="submit">
              <p>Vitamins</p>
              <img src="image/mpills.svg">
            </button>
   </form>
       <div class="CatalogMedicineList">

                @if (Model != null)
                {
                    @foreach (var item in Model.ToList())
                    {

                        <button class="CatalogCard" onclick="toProduct(@item.Id)">
                            <img src=@item.Photo alt="foto">
                            <div class="CatalogMedicineWords">
                                <p class="wp">@item.Name</p>
                                <p>@item.Description</p>
                                <p>@item.Cost грн</p>
                            </div>
                        </button>
                    }
                }
                else
                {
                    <p>No data available</p>
                }
    </div>     
</div> 
  <div class=Category>
    <form class="CatalogCategoryTitle" asp-controller="Category"  asp-action="Index" asp-route-word="Hygiene" method="POST"  >
              <input type="hidden" name="word" value="Hygiene">
              <button class="ButtonTitles" type="submit">
              <p>Hygiene</p>
              <img src="image/hygiene.svg">
            </button>
   </form>
       <div class="CatalogMedicineList">

                @if (Model != null)
                {
                    @foreach (var item in Model.ToList())
                    {

                        <button class="CatalogCard"  onclick="toProduct(@item.Id)">
                            <img src=@item.Photo alt="foto">
                            <div class="CatalogMedicineWords">
                                <p class="wp">@item.Name</p>
                                <p>@item.Description</p>
                                <p>@item.Cost грн</p>
                            </div>
                        </button>
                    }
                }
                else
                {
                    <p>No data available</p>
                }
    </div>     
</div> 
  <div class=Category>
    <form class="CatalogCategoryTitle" asp-controller="Category"  asp-action="Index" asp-route-word="Makeup" method="POST"  >
              <input type="hidden" name="word" value="Makeup">
              <button class="ButtonTitles" type="submit">
              <p>Makeup</p>
              <img src="image/makeup.svg">
            </button>
   </form>
       <div class="CatalogMedicineList">

                @if (Model != null)
                {
                    @foreach (var item in Model.ToList())
                    {

                        <button class="CatalogCard"  onclick="toProduct(@item.Id)">
                            <img src=@item.Photo alt="foto">
                            <div class="CatalogMedicineWords">
                                <p class="wp">@item.Name</p>
                                <p>@item.Description</p>
                                <p>@item.Cost грн</p>
                            </div>
                        </button>
                    }
                }
                else
                {
                    <p>No data available</p>
                }
    </div>     
</div> 
  <div class=Category>
    <form class="CatalogCategoryTitle" asp-controller="Category"  asp-action="Index" asp-route-word="For Children's" method="POST"  >
              <input type="hidden" name="word" value="For Children's">
              <button class="ButtonTitles" type="submit">
              <p>For Children's</p>
              <img src="toy.svg">
            </button>
   </form>
       <div class="CatalogMedicineList">

                @if (Model != null)
                {
                    @foreach (var item in Model.ToList())
                    {

                        <button class="CatalogCard"  onclick="toProduct(@item.Id)">
                            <img src=@item.Photo alt="foto">
                            <div class="CatalogMedicineWords">
                                <p class="wp">@item.Name</p>
                                <p>@item.Description</p>
                                <p>@item.Cost грн</p>
                            </div>
                        </button>
                    }
                }
                else
                {
                    <p>No data available</p>
                }
    </div>     
</div> 

</div>
<script>
    function toHome() {
       $.ajax({
        type: "POST",
        url: "/Catalog/Index",
        success: function (response) {
            console.log("Метод контроллера успешно вызван");
            window.location.href = "/"; 
        },
        error: function (xhr, status, error) {
            console.error("Произошла ошибка при вызове метода контроллера:", error);
        }
    });
}
function toCategory(word) {
    $.ajax({
        type: "POST",
        url: "/Category/Index",
        data: { word: word }, // Pass the 'word' parameter to the controller
        success: function (response) {
            console.log("Метод контроллера успешно вызван");
            window.location.href = "/Category/Index?word=" + word; // Redirect to the category page with the word parameter
        },
        error: function (xhr, status, error) {
            console.error("Произошла ошибка при вызове метода контроллера:", error);
        }
    });
}
function toProduct(id) {
    $.ajax({
        type: "POST",
        url: "/Product/Index",
        data: { id: id}, 
        success: function (response) {
            console.log("Метод контроллера успішно викликано");
            window.location.href = "/Product/Index?id=" + id; // Redirect to the category page with the word parameter
        },
        error: function (xhr, status, error) {
            console.error("Сталася помилка при виклику методу контролера:", error);
        }
    });
}
</script>
</body>

</html>